<mat-drawer-container class="example-container md:mr-2 mr-0 " autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="flex flex-col max-h-[50px] justify-between">
            <button type="button" mat-button (click)="drawer.toggle()">
                <mat-icon aria-hidden="false"
                    aria-label="Example home icon" fontIcon="close"></mat-icon>
            </button>
            <div class="flex flex-col justify-between items-center mt-2">
                <a class="py-2 text-lg font-semibold" routerLink="/home">Home</a>
                <a class="py-2 text-lg font-semibold" routerLink="/blog">Blog</a>
                <a class="py-2 text-lg font-semibold" routerLink="/placedetail">Place Detail</a>
                <a class="py-2 text-lg font-semibold" routerLink="/mail">Mail</a>
                <a class="py-2 text-lg font-semibold" routerLink="/login" (click)="logOut()">Logout</a>
            </div>
        </div>
    </mat-drawer>

    <div class="example-sidenav-content mt-10 text-center">
        <button type="button" mat-button (click)="drawer.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>
    </div>

</mat-drawer-container>