.container-camplaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.card-places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.places-info{
    color: rgb(40, 64, 12);
}

.card {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image {
    width: 100%;
}

.header-card {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.info-p {
    color: white;
    padding: 0 10px;
}

.card-subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-cities {
    margin-top: 1rem;
    width: 150px;
    height: 38px;
    border-radius: 20px;
    border: none;
    background: transparent;
    border: 1px solid white;
    font-size: 15px;
    text-align: center;
}

.btn-cities:hover {
    transition: 0.7s;
    background-color: white;
}

.cities-a:hover {
    color: rgb(40, 64, 12);
}

.btn-cities a {
    text-decoration: none;
    color: white;
    font-weight: 550;
    letter-spacing: 1px;
    font-size: 1rem;
}





/*Mobile*/
@media(max-width:900px){
    .card{
        width: 100%;
    }
}