<div class="container  py-10 px-3">
    <div>
        <h1 class="text-lg font-semibold">Add Note</h1>
    </div>
    <form [formGroup]="Form" class="flex flex-col my-5 w-full">
        <p>
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Note</mat-label>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"
                    placeholder={{data.city}} type="text" formControlName="note"></textarea>
            </mat-form-field>
            <mat-error class="mb-5" *ngIf="Form.get('note')?.invalid">
                Please Fill This Area
            </mat-error>
        </p>

    </form>
    <div class="flex flex-row w-full items-center justify-center">
        <button mat-raised-button color="warn" class="mx-2" translate (click)="closeDialog()">Cancel</button>
        <button mat-raised-button color="primary" [disabled]="Form.invalid" class="mx-2" (click)="saveDialog()"
            translate>Save</button>
    </div>

</div>