<form [formGroup]="Form" class="form-column">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Kamp Alanı İsmi</mat-label>
            <input matInput placeholder={{data.campPlaceName}} type="text" formControlName="campPlaceName"
                placeholder="campPlaceName">
            <mat-hint>Kamp Alanı İsmi</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Açıklama</mat-label>
            <input matInput placeholder={{data.info}} type="text" formControlName="info" placeholder="info">
            <mat-hint>Kamp Alanı Açıklama</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Görsel Linki</mat-label>
            <input matInput placeholder={{data.image}} type="text" formControlName="image" placeholder="image">
            <mat-hint>Görsel Linki</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Görsel Alt Tagi</mat-label>
            <input matInput placeholder={{data.alt}} type="text" formControlName="alt" placeholder="alt">
            <mat-hint>Görsel Alt Tagi</mat-hint>
        </mat-form-field>
    </p>
</form>
<div mat-dialog-actions class="button-flex">
    <button mat-raised-button color="warn" translate (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveDialog()" translate>Save</button>
</div>