.header-dialog {
    font-size: 1.5rem;
}

.w-full {
    width: 100%;
}

.form-column {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}