  <mat-toolbar color="primary">
      <span>CamperFinder</span>
    <nav>
      <button mat-raised-button color="primary" routerLink="/home">Kamp Alanları</button>
      <button mat-raised-button color="primary" routerLink="/placedetail">Kamp Detay</button>
      <button mat-raised-button color="primary" routerLink="/blog">Blog</button>
      <!-- <button mat-raised-button color="primary" routerLink="/settings">Ayarlar</button> -->
      <button mat-raised-button color="warn" routerLink="/" (click)="logOut()">Çıkış Yap</button>
    </nav>
</mat-toolbar>