<app-navbar></app-navbar>
<app-loader *ngIf="loadingTable"></app-loader>

<div style="display:flex; justify-content:space-between; align-items:center; margin:5px 1.5rem;">
<div>
    <mat-label>
    <p class="last-item">
        En Son Eklenen Kart Numarası
    </p>
    </mat-label>
    <div *ngFor="let item of placesData; let last=last">
        <span class="last-item" *ngIf="last">{{item.num}}</span>
    </div>
</div>
<div style="margin:1rem 0;" *ngFor="let item of placesData|slice:0:1">
    <button mat-raised-button color="primary"
        (click)="addNewPlace(item.id,item.city,item.alt,item.district,item.image,item.campPlaceName,item.info,item.coordinate1,item.coordinate2)">Yeni
        Yer Ekle</button>
</div>
</div>

<!-- <mat-form-field appearance="fill" style="width: 100% !important;">
<mat-select class="select-city" name="Cities" (onchange)="changeCity($event)">
    <mat-option value="">Select</mat-option>
    <mat-option value="selectall">Hepsini Göster</mat-option>
    <mat-option [value]="item.city" *ngFor="let item of placesData">
        {{item.city}}
    </mat-option>
</mat-select>
</mat-form-field> -->
<select class="select-city" name="Cities" (change)="changeCity($event)">
    <option value="">Select</option>
    <option value="selectall">Hepsini Göster</option>
    <option [value]="item.city" *ngFor="let item of placesData">
        {{item.city}}
    </option>
</select>
<div class="flex-cards">
    <ng-container *ngFor="let item of selectedData">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{item.num}}</mat-card-title>
                <mat-card-title>{{item.city}}</mat-card-title>
                <mat-card-subtitle>{{item.campPlaceName}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.image}}" alt="CamperFinder Eksik Fotoğraf">
            <mat-card-content>
                <p>
                    {{item.info}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary"
                    (click)="openDialog(item._id,item.num,item.info,item.image,item.alt,item.campPlaceName)">Düzenle</button>
                <button mat-raised-button color="warn" [value]="item.id" (click)="deletePlace(item._id)">Sil</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>