.flex-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.example-card{
    max-width: 300px;
    margin: 3rem 1rem;
    min-height: 550px;
    max-height: 550px;
}
.example-card img{
    min-height: 350px;
    max-height: 350px;
    max-width: 300px;
    min-width: 300px;
}
.select-city{
    width: 100%;
    height: 50px;
    margin-top: 8px;
    border-radius: 5px;
}