.flex-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.example-card{
    max-width: 300px;
    margin: 3rem 1rem;
    max-height: 600px;
}
.example-card img{
    min-height: 300px;
    max-height: 300px;
    max-width: 300px;
    min-width: 300px;
}