<div class="container">
  <form class="example-form" [formGroup]="loginForm">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input name="username" matInput formControlName="username">
      <mat-error>
        <span *ngIf="f['username'].errors&&f['username'].errors['required']">Kullanıcı Adı zorunludur</span>
        <span *ngIf="f['username'].errors&&f['username'].errors['maxlength']">Kullanıcı Adı En Fazla 5 Karakter</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" name="password" type="password" formControlName="password">
      <mat-error>
        <span *ngIf="f['password'].errors&&f['password'].errors['required']">Şifre zorunludur</span>
      </mat-error>
      <mat-error>
        <span *ngIf="f['password'].errors&&f['password'].errors['minlength']">Şifre En Az 4 Karakterli Olmalı</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="loginForm.invalid" (click)="loginHref()">Login</button>
  </form>
</div>