<ng-container *ngFor="let element of placesData|slice:0:1">
    <button
        (click)="openDialog(element.adress,element.alt,element.image1,element.image2,element.image3,element.internet,element.market,element.num,element.shower,element.toilet)"
        mat-icon-button color="primary" matTooltip="Edit Note">
        Yeni Alan Ekle
    </button>
</ng-container>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.num}} </td>
    </ng-container>
    <ng-container matColumnDef="Adress">
        <th mat-header-cell *matHeaderCellDef> Adress </th>
        <td mat-cell *matCellDef="let element"> {{element.adress}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Alt Tag">
        <th mat-header-cell *matHeaderCellDef> Alt Tag </th>
        <td mat-cell *matCellDef="let element"> {{element.alt}} </td>
    </ng-container>

    <ng-container matColumnDef="Image 1">
        <th mat-header-cell *matHeaderCellDef> Image 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.image1}} </td>
    </ng-container>
    <ng-container matColumnDef="Image 2">
        <th mat-header-cell *matHeaderCellDef> Image 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.image2}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Image 3">
        <th mat-header-cell *matHeaderCellDef> Image 3 </th>
        <td mat-cell *matCellDef="let element"> {{element.image3}} </td>
    </ng-container>
    <ng-container matColumnDef="internet">
        <th mat-header-cell *matHeaderCellDef> İnternet </th>
        <td mat-cell *matCellDef="let element"> {{element.internet}} </td>
    </ng-container>
    <ng-container matColumnDef="market">
        <th mat-header-cell *matHeaderCellDef> Market </th>
        <td mat-cell *matCellDef="let element"> {{element.market}} </td>
    </ng-container>
    <ng-container matColumnDef="shower">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.shower}} </td>
    </ng-container>
    <ng-container matColumnDef="toilet">
        <th mat-header-cell *matHeaderCellDef> Toilet </th>
        <td mat-cell *matCellDef="let element"> {{element.toilet}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let element">
            <button [value]="element.id" (click)="deletePlace(element._id)" mat-icon-button color="primary"
                matTooltip="Edit Note">
                <mat-icon>Sil</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>