.header-camps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.header-info {
    color: rgb(40, 64, 12);
    font-size: 1.9rem;
}

.subheader-info {
    color: rgb(224, 80, 40);
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    font-weight: 550;
}

@media(max-width:900px) {
    .header-info {
        font-size: 1.2rem;
        text-align: center;
    }

    .subheader-info {
        font-size: 1rem;
        text-align: center;
        width: 85%;
    }

    .header-camps {
        padding-bottom: 1rem;
    }
}