.details-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 35px;
    margin: 3rem 0;
    padding: 3rem;
}

.detail-header {
    margin: 1rem;
    font-size: 2.2rem;
}

.header-blog {
    margin: 1rem 0;
}

.main-blog {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
}

.blog-text {
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

.blog-subcontainer {
    margin: 1rem 0;
}

.detail-image {
    max-height: 710px;
    border-radius: 5px;
    margin-top: 1rem;
    width: 87%;
}

.text-subcontainer {
    color: rgb(224, 80, 40);
    font-size: 1.3rem;
    font-weight: 550;
    margin-top: 2rem;
}

.main-blog p {
    text-align: left;
    font-size: 1.2rem;
    color: black;
    padding: 0 4rem;
    margin-left: 2rem;
}

.main-blog  ul{
    color: black;
    font-size: 1.2rem;
    text-align: left;
    margin: 20px auto;
}
.main-blog li{
    color: black;
    font-size: 1.2rem;
    text-align: left;
    margin: 20px auto;
}


@media(max-width:900px) {
    .detail-header {
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    .main-blog {
        text-align: center;
        font-size: 1rem;
        margin-top: 0;
    }

    .text-subcontainer {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .detail-image {
        width: 100%;
        min-height: auto;
        max-width: none;
        min-width: auto;
    }

    .main-blog p,
    ul,
    li {
        color: black;
        font-size: 0.9rem;
        text-align: left;
        margin: 5px 0;
        padding: 0;
    }

    .details-info {
        padding: 0;
    }
}