.istanbul-places {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 6rem;
    background-color: white;
    border-radius: 25px;
    padding: 4rem 0;
}

.places-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.istanbul-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-ist {
    color: rgb(40, 64, 12);
    text-align: center;
    font-size: 1.9rem;
}

.subheader-ist {
    color: rgb(216, 70, 39);
    text-align: center;
    font-size: 1.2rem;
    padding: 0.7rem 0;
    width: 60%;
}


.card-flex {
    width: 356px;
    display: flex;
    margin: 0 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-flex:hover {
    cursor: pointer;
    transition: 1s;
}

.places-card {
    width: 100%;
    height: 258px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 2rem;
}

.header-place {
    font-size: 19px;
    margin-top: 4px;
    color: rgb(60, 60, 60);
}

.info-place {
    color: rgb(110, 110, 110);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.click-detail{
    display: none;
    color: rgb(216, 70, 39);
    position: relative;
    right: auto;
    left: auto;
    right: 6.7rem;
    top: 3px;
    font-weight: 500;
}
.click-detail:hover{
    text-decoration: underline;
}

/*MOBİLE */
@media(max-width:900px) {
    .istanbul-places{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .header-ist {
        font-size: 1.4rem;
    }

    .subheader-ist {
        font-size: 0.9rem;
    }
}