.contact-header {
    color: rgb(40, 64, 12);
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}

.text-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-info {
    color: var(--red);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.contact-container {
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    padding: 4rem 3rem;
    border-radius: 35px;
    background-color: white;
}

.contact-images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-images img {
    width: 25%;
    min-height: 400px;
    max-height: 400px;
    margin: 2rem 1rem;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.links-info {
    font-size: 1.1rem;
    margin-top: 10px;
}

.links-info a {
    color: var(--red);
    font-weight: 550;
}

.contact-backpack {
    color: var(--red);
    font-weight: 500;
    font-size: 1.6rem;
    width: 50%;
    margin: 1rem 0;
}

.backpack-img {
    border-radius: 35px;
}

.social-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.contact-link {
    color: var(--red);
    font-weight: 500;
    font-size: 1.2rem;
    width: 50%;
}

.mail-info {
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.mail-info:hover {
    color: var(--red);
    transition: 0.5s;
}

.soon-info {
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(40, 64, 12);
}

.container {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-header {
    margin-bottom: 1rem;
}

.form-group input {
    width: 100%;
    min-width: 270px;
    height: 44px;
    margin: 8px 0;
    border: 1px solid #ced4da;
    padding: 15px;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #495057;
    font-weight: 500;
}

.contribute-text {
    font-size: 1.3rem;
    margin-top: 10px;
    color: rgb(40, 64, 12);

}

.form-group select {
    width: 100%;
    min-width: 270px;
    height: 44px;
    margin: 8px 0;
    border: 1px solid #ced4da;
    padding: 4px;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: #495057;
    font-weight: 500;
}

.form-group textarea {
    padding: 15px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    font-size: 16px;
    color: #495057;
    font-weight: 500;
    width: 100%;
    outline: none;
    margin: 8px 0;
    resize: none;

}

.btn-send {
    width: 100%;
    min-width: 270px;
    height: 45px;
    border: none;
    font-size: 18px;
    font-weight: 550;
    background: var(--red);
    color: white;
    border-radius: 7px;
}

.btn-send:hover {
    background-color: white;
    color: var(--red);
    transition: 1s;
}

.form-header {
    text-align: center;
}

.red-border {
    border: 1px solid red !important;
}

.green-border {
    border: 1px solid green !important;
}

.error {
    color: var(--red);
    font-size: 15px;
}

.form-text {
    color: var(--red);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

@media(max-width:900px) {
    .contact-header {
        font-size: 1.4rem;
    }

    .contact-info {
        font-size: 1.1rem;
        width: 80%;
        margin-top: 1rem;
    }

    .contact-images {
        display: none;
    }

    .contact-backpack {
        width: 80%;
        font-size: 1.1rem;
    }

    .backpack-img {
        width: 100%;
        border-radius: 10px;
    }

    .contact-link {
        font-size: 1.1rem;
        width: 80%;
        margin-top: 1rem;
    }

    .form {
        align-items: center;
    }
}