.about-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.infos {
    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 3rem 0;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.header-us {
    color: rgb(40, 64, 12);
    font-weight: 500;
}

.line {
    width: 20%;
    height: 2px;
    background-color: gray;
}

.info-us {
    width: 50%;
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    /* color: rgb(224, 80, 40); */
}
.form-buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-buttons a{
    margin: 0 15px;
}
.avatars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    text-align: center;
}
.avatar-icon{
    width: 25px;
    margin: 0 5px;
}
.avatar{
    font-weight: 500;
}
.avatar-info{
    font-weight: 600;
    color: rgb(224, 80, 40);
}
.avatars img{
    width: 300px;
    margin: 0 1rem;
}

@media(max-width:900px) {
    .header-us {
        font-size: 1.4rem;
    }

    .info-us {
        text-align: center;
        font-size: 0.9rem;
        padding-top: 1rem;
        width: 60%;
    }
}