.detail-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 400px;
    height: 400px;
}
img{
    width: 100%;
}
.detail-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    margin-top: 2rem;
    width: 100%;
    background-color: white;
    border-radius: 35px;
    padding-bottom: 2rem;
}
.detailHead{
    width: 80%;
    margin-bottom: 2rem;
    text-align: center;
}

.header-detail{
    color: rgb(40, 64, 12);
    font-size: 1.9rem;
}
.detail-subheader{
    color: rgb(224, 80, 40);
    font-weight: 530;
}
.adress-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
    border-radius:35px;
    background-color: white;

}
/*SLİDER */
.swiper {
    width: 70%;
    height: 70%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.swiper-button-next, .swiper-button-prev{
    color: rgb(224, 80, 40) !important; 
}
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*SLİDER */
