.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    width: 400px;
    height: 400px;
}

.detail-flex img {
    width: 100%;
}

.detail-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    margin-top: 2rem;
    width: 100%;
    background-color: white;
    border-radius: 35px;
    margin-bottom: 2rem;
}

.detailHead {
    width: 80%;
    margin-bottom: 2rem;
    text-align: center;
}

.header-detail {
    color: rgb(40, 64, 12);
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.detail-subheader {
    color: rgb(40, 64, 12);
    font-weight: 530;
}




/*SLİDER */
.swiper {
    width: 70%;
    height: 70%;
    user-select: none;
}


:root {
    --swiper-theme-color: rgb(224, 80, 40) !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 600px;
    max-height: 600px;
}

.swiper-slide img {
    min-height: 600px;
    max-height: 600px;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(224, 80, 40) !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Check Items CSS */
.container-row {
    display: flex;
    flex-direction: row;
    width: 85%;
    padding: 1rem 0;
}

.checks-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.container-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.check-items {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.icon-check {
    fill: green;
    width: 25px;
}

.icon-cross {
    fill: red;
    width: 20px;
}

.check-header {
    color: rgb(40, 64, 12);
    font-size: 1.9rem;
    margin-bottom: 1rem;
}


.circle-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: aliceblue;
    border-radius: 35px;
}

.check-info {
    margin: 0 5px;
}

.detail-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


@media(max-width:900px) {
    .header-detail {
        font-size: 1.2rem;
    }
    .detail-row{
        flex-direction: column;
        justify-content: center;
    }
    .check-items{
        flex-direction: column;
    }

    .detail-subheader {
        font-size: 1rem;
        font-weight: 500;
    }

    .swiper {
        width: 95%;
        height: 95%;
    }

    .swiper-slide img {
        max-width: 100%;
        min-height: 100%;
    }

    .detail-page {
        margin-top: 0;
    }

    .icon-check,
    .icon-cross {
        width: 15px;
    }
}