<form [formGroup]="Form" class="form-column">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Şehir Numarası</mat-label>
            <input matInput placeholder={{data.num}} type="text" formControlName="num" placeholder="num">
            <mat-hint>Şehir Numarası</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Şehir İsmi</mat-label>
            <input matInput placeholder={{data.city}} type="text" formControlName="city" placeholder="city">
            <mat-hint>Şehir ismini yaz</mat-hint>
        </mat-form-field>
    </p>
    <mat-form-field appearance="outline">
        <mat-label>Görsel Alt Tagi</mat-label>
        <input placeholder={{data.alt}} matInput type="text" formControlName="alt" rows="4" cols="50" placeholder="alt">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <input placeholder={{data.district}} matInput type="text" formControlName="district" rows="4" cols="50"
            placeholder="district">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Kamp Alanı İsmi</mat-label>
        <textarea placeholder={{data.campPlaceName}} matInput type="text" formControlName="campPlaceName" rows="4"
            cols="50" placeholder="campPlaceName">
        </textarea>
    </mat-form-field>
    <mat-dialog-content >
        <mat-form-field appearance="outline">
            <mat-label translate>Açıklama</mat-label>
            <textarea matInput type="text" formControlName="info" rows="4" cols="50" placeholder="info">
            </textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label translate>Görsel Linki</mat-label>
        <input placeholder=`{{data.image}}` matInput type="text" formControlName="image" rows="4" cols="50"
            placeholder="image">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>Koordinate 1</mat-label>
        <input placeholder={{data.coordinate1}} matInput type="text" formControlName="coordinate1" rows="4" cols="50"
            placeholder="coordinate1">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>Koordinate 2</mat-label>
        <input placeholder={{data.coordinate2}} matInput type="text" formControlName="coordinate2" rows="4" cols="50"
            placeholder="coordinate2">
    </mat-form-field>

</form>
<div mat-dialog-actions class="button-flex">
    <button mat-raised-button color="warn" translate (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveDialog()" translate>Save</button>
</div>